<div>
  <h1>Componente DOS</h1>
  <p>
    Componente que muestra los datos en el userState
  </p>
</div>

<div>
  <h3>
    {{ nombre }}
  </h3>
  <ng-container *ngIf="conectado; else noConectado">
    <p>Conectado</p>
  </ng-container>
  <ng-template #noConectado>
    <p>No conectado</p>
  </ng-template>
</div>
