<div>
  <h1>
    Componente UNO
  </h1>
  <p>
    Componente que se encarga de actualizar los datos en el userState haciendo uso
    del servicio: storeService
  </p>
</div>

<div>
  <input type="text" [(ngModel)]="nombre" placeholder="Nombre del usuario"/>

  <button (click)="cambiarNombre()">
    Actualizar Nombre
  </button>

  <button (click)="cambiarConectado()">
    Actualizar Conectado
  </button>

</div>
